<div id="pCarousel" class="carousel slide">

  <!-- Wrapper for slides -->
  <div class="portfolio carousel-inner">
    <div class="item active" style="background-color: #B2F0CD;">
        <%= render :template=>"projects/index" %>
    </div>

    <div class="item" style="background-color: green;">
      <div class="carousel-caption">
          <h3>Caption Text 2</h3>
      </div>
    </div>
    <div class="item" style="background-color: red;">
      <div class="carousel-caption">
          <h3>Caption Text 3</h3>
      </div>
    </div>
    <div class="item" style="background-color: grey;">
      <div class="carousel-caption">
          <h3>Caption Text 4</h3>
      </div>
    </div>
  </div>
</div> <!-- Carousel -->