<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Super Awesome Portfolio Website</title>
		<meta charset="utf-8"><!-- character set including all languages -->        
	</head>
	<body>
		<div id="title">
			<!-- Title stuff goes here -->
			<div class="container-fluid">
				<div class="bg-img">
					<div class="title-text">
							<h1>My Name</h1>
							<p>I am an amazing person. I do all sorts of cool things. I am the best.</p>
							<p>You should hire me because of how precious I am.</p>
							<p>Sooo precious...</p>
					</div>
				</div>
			</div>
		</div>
		<!-- end title -->

		<div id="portfolio" class="container-fluid">
			<!-- Portfolio Stuff goes here -->
			<div class="port-nav row text-center">
				<a href="#portfolio" class="col-xs-3 cat" data-target="#pCarousel" data-slide-to="0">Graphic Design</a>
				<a href="#portfolio" class="col-xs-3 cat" data-target="#pCarousel" data-slide-to="1">Web Dev</a>
				<a href="#portfolio" class="col-xs-3 cat" data-target="#pCarousel" data-slide-to="2">3D Modeling</a>
				<a href="#portfolio" class="col-xs-3 cat" data-target="#pCarousel" data-slide-to="3">Game Dev</a>
			</div>
          
			<div class="portfolio">
              <div id="pCarousel" class="carousel slide">

                  <!-- Wrapper for slides -->
                  <div class="portfolio carousel-inner">
                    <div class="item active" style="background-color: blue;">
                      <div class="carousel-caption">
                          <h3>Caption Text 1</h3>
                      </div>
                    </div>
                  
                    <div class="item" style="background-color: green;">
                      <div class="carousel-caption">
                          <h3>Caption Text 2</h3>
                      </div>
                    </div>
                    <div class="item" style="background-color: red;">
                      <div class="carousel-caption">
                          <h3>Caption Text 3</h3>
                      </div>
                    </div>
                    <div class="item" style="background-color: grey;">
                      <div class="carousel-caption">
                          <h3>Caption Text 4</h3>
                      </div>
                    </div>
                  </div>
              </div> <!-- Carousel -->
            </div>
		</div>
		<!-- end portfolio -->

		<div id="about">
			<!-- About/blog stuff goes here. All pictures will need to be the same size, with an aspect ratio above 1. -->
			<div class="about-container">
					<div class="grid">
						<figure class="effect-chico">
						<img src="http://s3-us-west-2.amazonaws.com/confreaks-tv3/production/videos/images/000/001/549/Tom_Preston-original.png?1422315761" alt="twitter/blog/link">
						<figcaption> 
							<i class="fa-about fa fa-github fa-3x"></i>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					</div><div class="grid">
						<figure class="effect-chico">
						<img src="http://wallpapersglobe.net/download/20_Mark_Zuckerberg-1920x1080.jpg" alt="twitter/blog/link">
						<figcaption>
							<i class="fa-about fa fa-facebook-official fa-2x"></i>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					</div><div class="grid">
						<figure class="effect-chico">
						<img src="https://wallpaperscraft.com/image/jack_dorsey_twitter_programmer_104911_1920x1080.jpg" alt="twitter/blog/link">
						<figcaption>
							<i class="fa-about fa fa-twitter fa-3x"></i>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					</div>
			</div>
		</div> 
		<!-- end about -->

		<div id="contact">
			<!-- Contact stuff goes here -->
		</div>
		<!-- end contact -->

	</body>
</html>