// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cat-trans-color: background-color 0.2s linear;
$cat-trans-text: color 0.2s linear;
$dark-grey: rgba(0,0,0,0.8);

#project {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.box p {
    color: #7f8c8d;
}

$nav-trans-color: background-color 0.2s linear;

.back a i{
  position: fixed;
  border-bottom: 1px solid $dark-grey;
  width: 100%;
  height: auto;
  top: 0;
  background-color: #fff;
  transition: $cat-trans-color;
}

.back a i:hover{
  background-color: #2ecc71;
  border-bottom: 0px;
	transition: $cat-trans-color;
  color: #fff;
}

.arrow-center{
  padding: 5px;
}

.jumbotron{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #fff;
    border: 1px solid $dark-grey;
}

.p-img{
    margin: 0 auto;
    padding: 10px;
}

.pButton p{
    margin-bottom: 0px;
}

.pButton a{
    background-color: #fff;
	  transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
    border: 1px solid #000;
}

.pButton .btn:focus{
    color: #fff;
    text-decoration: none;
    background-color: #2ecc71;
	transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
    border: 1px solid #fff;
}

.pButton a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #2ecc71;
	transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
    border: 1px solid #fff;
}
