// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cat-trans-color: background-color 0.2s linear;
$cat-trans-text: color 0.2s linear;

#project {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.box p {
    color: #7f8c8d;
}

//.box a{
//    background-color: #27ae60;
//	transition: $cat-trans-text, $cat-trans-color;
//    border-radius: 0px;
//    border: 0px;
//}
//
//.box a:focus{
//    color: #fff;
//    text-decoration: none;
//    background-color: #2ecc71;
//	transition: $cat-trans-text, $cat-trans-color;
//    border-radius: 0px;
//}
//
//.box a:hover{
//    color: #fff;
//    text-decoration: none;
//    background-color: #2ecc71;
//	transition: $cat-trans-text, $cat-trans-color;
//    border-radius: 0px;
//}
.jumbotron{
    width: 75%;
    margin: 0 auto;
}

.p-img{
    margin: 0 auto;
}

#pShow h1{
    color: #2c3e50;
}

#pShow p{
    color: #2c3e50;
}