// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cat-trans-color: background-color 0.2s linear;
$cat-trans-text: color 0.2s linear;

#project {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.box p {
    color: #7f8c8d;
}

$nav-trans-color: background-color 0.2s linear;

.back{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    background-color: #27ae60;
	transition: $cat-trans-color;
}

.back:hover{
    background-color: #2ecc71;
	transition: $cat-trans-color;
}

.arrow-center{
    margin-top: 10px;
}

.jumbotron{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.p-img{
    margin: 0 auto;
    padding: 10px;
}

#pShow h1{
    color: #2c3e50;
}

#pShow p{
    color: #2c3e50;
}

.pButton > a{
    background-color: #27ae60;
	transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
}

.pButton .btn:focus{
    color: #fff;
    text-decoration: none;
    background-color: #2ecc71;
	transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
}

.pButton > a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #2ecc71;
	transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
}