//Custom css or scss here

h1{
	color: #ecf0f1;
}

p{
	color: #ecf0f1;
}

#title{
	background: url("Noffy.jpg") no-repeat center center fixed;
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	height: 90vh;
}

.title-text{
	position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    padding-top: 25%;
}

.bg-img{
	position: relative;
}

.about-item{
	display:inline-block;
}

.about-container{
    margin:0;
    padding:0;
    border:0;

}

