/*Custom css or scss here*/

/*Available font-weight for Roboto: 300, 400, and 700
ask Alex if you want more weights or italics*/
$roboto: 'Roboto', sans-serif;

h1, p, i{
	color: #ecf0f1;
}

#title{
	background: url("Noffy.jpg") no-repeat center center fixed;
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	height: 90vh;
}

.title-text{
	position: absolute;
	width: 40%;
	margin-left: 55%;
    padding-top: 50vh;
    font-family: $roboto;
}

.title-text, h1{
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.title-text{
		margin-left: 40%;
		width: 50%;
		padding-top: 20vh;
	}
}

.bg-img{
	position: relative;
}

$cat-padding: 20px;
$cat-trans-color: background-color 0.3s linear;
$cat-trans-text: color 0.3s linear;

.port-nav{
	font-family: $roboto;
	font-size: 150%;
	font-weight: 700;
}

.port-nav a{
	background-color: #f39c12;
	color: rgba(236, 240, 241,0.5);
	padding-top: $cat-padding;
	padding-bottom: $cat-padding;
	transition: $cat-trans-text, $cat-trans-color;
	text-decoration: none;
}

.port-nav a:hover,
.port-nav a:active,
.port-nav a:focus{
	background-color: #f1c40f;
	color: rgba(236, 240, 241,1.0);
	padding-top: $cat-padding;
	padding-bottom: $cat-padding;
	transition: $cat-trans-text, $cat-trans-color;
	text-decoration: none;
}

#portfolio > .row{
    margin: 0px;
}

.container-fluid{
    padding: 0px;
}

.portfolio{
	height: 90vh;
    width: 100%;
}

.item{
    height: 100%;
}

.about-container{
    margin:0;
    padding:0;
    border:0;
}

.fa-about{
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

